<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".sampleapp" %></h1>
  <h2>
    <%= t ".homepage" %>
    <%= link_to t(".railstutorial"), Settings.bookrails %>
    <%= t ".sampleappl" %>
  </h2>
  <%= link_to t(".button_signup"), signup_path,
    class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.rubyonrails %>
