<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".railstutorial"), Settings.railstutorial %>
    <%= t ".by" %> <%= link_to t(".michaelhartl"), Settings.michaelhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".button_about"), about_path %></li>
      <li><%= link_to t(".button_contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.newsrailstutorial %></li>
    </ul>
  </nav>
</footer>
